.task2 {
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  &__out {
    text-align: center;
    display: block;
    height: 0px;
    overflow: hidden;
    transition: all ease 1s;
    &_show {
      transition: all ease 2s;
      height: 1700px;
    }
    &__hideResults {
      margin-top: 10px;
    }
  }
}
